@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background-blend-mode: lighten;
}

::-webkit-scrollbar-thumb {
	background: #d4d4d4;
	border-radius:20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

@layer base {
	.font-outline-2 {
	  -webkit-text-stroke: 1px white;
	}
	.font-outline-4 {
	  -webkit-text-stroke: 3px white;
	}
  }